<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <logger name="org.hibernate" level="ERROR"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="org.apache" level="ERROR"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
